<div class="initial-screen">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <h4 class="pull-left">Phonebook</h4>
            <span class="pull-right" ng-click="logout()"><i class="fa fa-power-off" aria-hidden="true"></i></span>
        </div>
    </div>

    <div class="container" id="phonebook">

    	<div class="row phone-header">
    		<div class="col-md-4 sort">
    			<span class="pull-left">Sort by:</span>
    			<select class="form-control pull-left" id="salesCurrency" ng-model="books.sortBy" ng-change="books.sort()">
        			<option value="firstName">First Name</option>
        			<option value="lastName">Last Name</option>
        			<option value="phoneNumber">Phone Number</option>
				</select>
    		</div>
    		<div class="col-md-4">
    			<button ng-click="books.createNew()" class="btn btn-primary" ng-class="{'modal-opened' : books.modalTriggered}"><i class="fa fa-plus" aria-hidden="true"></i> New phonebook entry</button>
    		</div>
    	</div>

    	<div class="row phone-table">
    		<div class="col-md-12">
    			<table class="table table-hover" ng-class="{'sorting' : books.sorting}">
    				<tr>
    					<th>First Name</th>
	    				<th>Last Name</th>
	    				<th>Phone Number</th>
	    				<th>Edit</th>
	    				<th>Delete</th>
    				</tr>

    				<tr class="animated" ng-repeat="book in books.all | orderBy: books.sortBy track by $index" ng-class="{'fadeOutLeft' : book.confirmedDelete, 'fadeInLeft': book.newlyAdded, 'pulse' : book.edited}">
    					<td>{{book.firstName}}</td>
    					<td>{{book.lastName}}</td>
    					<td>{{book.phoneNumber}}</td>
    					<td><a href="" class="action-button" ng-click="books.editBookEntry(book)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
    					<td><a href="" class="action-button animated" ng-click="books.deleteBookEntry(book)" ng-class="{'confirm fadeInLeftBig' : book.confirmDelete}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
    				</tr>
    			</table>
    		</div>
    	</div>

    </div>
</div>