<div class="initial-screen">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <h4>Login</h4>
        </div>
    </div>

    <div class="container" id="phonebook">


    	<div class="row phone-table">
    		<div class="col-md-12">
    			<div class="form-group" ng-class="{'has-error': false}">
                    <div class="row field">
                        <label class="col-md-4 control-label"> Email</label>
                        <div class="col-md-4">
                            <input class="form-control animated" ng-change="clearError()" on-enter="doLogin()" autofocus ng-model="user.email" placeholder="Email"  ng-class="{'shake errored' : error.cause == 'email'}"/>
                        </div>
                    </div>

                    <div class="row field">
                        <label class="col-md-4 control-label"> Password</label>
                        <div class="col-md-4">
                            <input class="form-control animated" type="password"  ng-change="clearError()" on-enter="doLogin()" ng-model="user.password" placeholder="Password" ng-class="{'shake errored' : error.cause == 'password'}"/>
                            <br/>
                            <div class="alert alert-danger" role="alert" ng-if="error.is">{{error.message}}</div>
                            <br/>
                            <button type="button" class="btn btn-default login pull-right" ng-click="doLogin()" ng-disabled="!(user.email && user.password)"> Login</button>
                        </div>
                    </div>

                </div>
    		</div>
    	</div>

    </div>
</div>